In [ ]:
#print(0 to 20)

In [3]:
for num in range(0,20):
   print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#print(10 to 20) in Horizontal

In [5]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [ ]:
#print the list and count the items in the list

In [16]:
lists=[10, 20, 14, 55, 43, 87, 76]
for temp in lists:
    print(temp,end=" ")

10 20 14 55 43 87 76

In [14]:
number_of_items=len(lists)
print("Number of Items in the lists=",number_of_items)

Number of Items in the lists= 7

In [ ]:
#print the word

In [18]:
list="ARTIFICIAL INTELLIGENCE"
for temp in list:
    print(temp)

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [19]:
list="ARTIFICIAL INTELLIGENCE"
print('\n'.join(list))

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [ ]:
#Buy Inputs

In [1]:
your_name=input("-Your Name-")
your_age=input("-Your Age-")
your_profession=input("-Your profession-")

-Your Name- Geetharani
-Your Age- 31
-Your profession- Graduate

In [ ]:
## Print this mixered datatype using Tuples

In [3]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [4]:
Tuple1=(0,1,2,3)
Tuple2=('Python','Hope')
tup=(Tuple1,Tuple2)
print(tup)

((0, 1, 2, 3), ('Python', 'Hope'))

In [ ]:
# print Odd Numbers in the list

In [7]:
tup=(20,10,16,19,25,1,276,188)
print(tup)
for temp in tup:
    if(temp%2==1):
      print(temp,"is Odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is Odd
25 is Odd
1 is Odd

In [ ]:
# print Even numbers in the list

In [8]:
tup=(20,10,16,19,25,1,276,188)
print(tup)
for temp in tup:
    if(temp%2==0):
      print(temp,"is Even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even